# ENV VARIABLES REQUIRED LISTED HERE
# DO NOT ENTER VARIABLES HERE, ENTER THEM IN THE .env FILE INSTEAD
# ASK TEAM MEMBERS FOR THE VARIABLES YOU NEED TO ENTER IN THE .env FILE

GEMINI_API_KEY=AQ.Ab8RN6LCwbECjJlBHRIwrAXFM1PSucmtMwPAlca8_h8M_rAq-g
GROQ_API_KEY=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
GEMINI_MODEL=gemini-3.6-flash
GROQ_MODEL=openai/gpt-oss-120b 
